{# grid, cell_width, cell_height #}
{% set cell_width  = cell_width  or 40 %}
{% set cell_height = cell_height or 40 %}
{% set cells  = grid.width %}
{% set rows   = grid.height %}

<div class="container" style="width: {{ cell_width * cells }}px; height: {{ cell_height * rows }}px;">
    <div class="cells-container">
        {% for x in range(0, cells) %}
            {% for y in range(0, rows) %}
                <div class="cell" style="top    : {{ y * cell_height }}px;
                                         left   : {{ x * cell_width }}px;
                                         width  : {{ cell_width -2 }}px;
                                         height : {{ cell_height -2 }}px;"></div>
            {% endfor %}
        {% endfor %}
    </div>
    <div class="blocks-container">
        {% for block in grid.blocks %}
            <a href="{{ block.s.link }}"
               title="{{ block.s.title }} [{{ block.s.total }} social activity]"
                               class="block"
                               style="background-image: url({{ block.s.thmb }});
                                      top    : {{ block.y * cell_height }}px;
                                      left   : {{ block.x * cell_width }}px;
                                      width  : {{ block.width * cell_width }}px;
                                      height : {{ block.height * cell_height }}px;"></a>
        {% endfor %}
    </div>
</div>